<section class="main">
  <div class="container main__container">
    <div class="main__info wow animate__backInLeft">
      <h1 class="double-title main__double-title">
        Самая лучшая из лучших пицца в мире
        <span class="double-title__span">только в Pizza Cheff</span>
      </h1>
      <div class="main__advantages">
        <div class="advantage">
          <div class="advantage__image">
            <img src="../../../../assets/hop.png" alt="Hop">
          </div>
          <div class="advantage__text">
            <div class="advantage__title">Лучшее тесто</div>
            <div class="advantage__description">
              Мы создаем тесто только из
              отборной итальянской муки
              наивысшего качества
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage__image">
            <img src="../../../../assets/kitchen-pack.png" alt="Kitchen pack">
          </div>
          <div class="advantage__text">
            <div class="advantage__title">лучшие повара</div>
            <div class="advantage__description">
              Пиццы готовят самые
              профессиональные
              итальянские повара
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage__image">
            <img src="../../../../assets/seo-and-web.png" alt="Seo and Web">
          </div>
          <div class="advantage__text">
            <div class="advantage__title">гарантия качества</div>
            <div class="advantage__description">
              Наша пиццерия получила
              множество наград и
              признаний по всему миру
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage__image">
            <img src="../../../../assets/holidays.png" alt="Holidays">
          </div>
          <div class="advantage__text">
            <div class="advantage__title">отборные рецепты</div>
            <div class="advantage__description">
              Мы используем рецепты
              от мировых лидеров
              в изготовлении пиццы
            </div>
          </div>
        </div>
      </div>
      <div class="main__action">
        <a class="btn main__btn  open-popup-link" (click)="test()">Выбрать пиццу</a>
      </div>
    </div>
    <div class="main__image  animate__animated animate__backInRight">
      <img src="../../../../assets/pizza_big.png" alt="Big pizza" class="main__image-img">
    </div>

  </div>
</section>

<app-popup [data]="'main Component data'"></app-popup>













