<section class="about" >
  <div class="container about__container">
    <div >
      <div class="order__double-title double-title">
        <span class="double-title__span">Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order__text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!

        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!

        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>

    </div>

    <div class="about__image">
      <img src="../../../../assets/pizza_big.png" alt="Pizza"  >
      <img src="../../../../assets/pizza_big.png" alt="Pizza"  >
    </div>

  </div>
</section>

<app-popup [data]="'about Component data'"></app-popup>
