<section class="order" id="order" >
  <div class="container order__container">
    <div class="order__text">
      <div class="order__double-title double-title">
        <a routerLink="/order" [queryParams]="{product: formValues.productTitle + '1 ' }" class="double-title__span">Хватит думать!</a> Доставим заказ за 30 минут!
      </div>
      <div class="order__text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>

    </div>
    <div class="order__form">
      <span class="p-float-label">
        <input  type="text" class="base-input order__base-input"  id="product-input"
                pInputText  [(ngModel)]="formValues.productTitle">
        <label for="product-input">Пицца</label>
      </span>
      <span class="p-float-label">
        <input  type="text" class="base-input order__base-input"  id="address-input"
                pInputText  [(ngModel)]="formValues.address">
        <label for="address-input">Адрес доставки</label>
      </span>
      <span class="p-float-label">
        <input  type="text" class="base-input order__base-input"  id="phone-input" pattern="^\+7\s\(9\d{2}\)\s\d{3}-\d{2}-\d{2}" required
                pInputText  [(ngModel)]="formValues.phone">
        <label for="phone-input">Телефон +7 (999) 999-99-99</label>
      </span>


      <button class="btn order_btn" (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="order__image wow animate__backInRight">
      <img src="../../../assets/pizza_cut.png" alt="Pizza" class="order__image-img" >
    </div>

  </div>
</section>
